body {
    text-align: center;
    font-family: "Roboto Mono", monospace;
    background-color: cornsilk;
}

button {
    font-size: medium;
    font-family: "Roboto Mono", monospace;
    background-color: pink;
    padding: 10px;
    margin: 10px;
}

button:active{
    background-color: palevioletred;
}

#result {
    font-size: large;
}

@media (min-width: 768px) {
    #result-description {
        width: 80%;
        margin: 10px auto;
    }
}

#input-section {
    margin: 10px;
}